@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

h1 {
  text-align: center;
}

input {
  font-family: 'Roboto';
  font-size: 1.1rem;
  width: 400px;
  height: 35px;
  margin: 0 auto;
  padding-left: 0.5rem;
  border: 1px solid #000;
  border-right: none;
}

input::placeholder {
  padding-left: 0.5rem;
}

li {
  display: flex;
  position: relative;
  font-size: 1.1rem;
  background-color: #ced4da;
  height: 40px;
  text-align: left;
  align-items: center;
  padding-left: 0.5rem;
}

li:nth-child(odd) {
  background-color: #e9ecef;
}

li:hover {
  background-color: #ba181b;
  color: #fff;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* Containers */

.main {
  margin: 0 auto;
  padding: 5rem 0;
  width: 600px;
}

.todo-input-div {
  text-align: center;
  margin: 1rem 2rem auto;
  padding: 2rem 0;
  background-color: #5eaaa8;
}

.todo-list {
  text-align: center;
  width: 600px;
  padding: 0 2rem;
}

/* Buttons */

.btn-add {
  font-family: 'Roboto';
  font-size: 1.1rem;
  width: 70px;
  height: 35px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.btn-add:hover {
  background-color: #ba181b;
  border: #ba181b;
  cursor: pointer;
}

.btn-add:focus,
input:focus {
  outline: none;
}

/* Task list */

li.finished-task {
  text-decoration: line-through;
  background-color: #ba181b;
  color: #fff;
}

.trash-icon {
  padding: 11.5px;
  position: absolute;
  top: 0;
  right: 0;
}

.trash-icon:hover {
  background-color: #5eaaa8;
}
